#NullpoMino Slick-frontend Config
#Sat Oct 19 23:01:11 EDT 2019
option.alternateFPSDynamicAdjust=false
key.p0.up=57
option.fullscreen=false
option.bgm=false
option.maxfps=90
button.p0.pause=-1
option.screenheight=480
button.p0.f=-1
button.p0.e=-1
option.fieldbgbright2=128
button.p0.d=-1
button.p0.c=-1
button.p0.b=-1
button.p0.a=-1
option.bgmstreaming=true
key.p0.left=203
option.showbg=true
joyBorder.p0=0
option.vsync=false
option.bigsidenext=false
key.p0.retry=68
keynav.p0.giveup=87
option.se=true
keynav.p0.down=208
key.p0.quit=88
option.heavyeffect=false
option.alternateFPSTiming=true
option.showlineeffect=true
keynav.p0.framestep=49
button.p0.framestep=-1
key.p0.right=205
button.p0.giveup=-1
option.showfps=true
key.p0.framestep=49
option.outlineghost=false
key.p0.pause=1
key.p0.f=31
key.p0.e=32
key.p0.d=46
key.p0.c=30
option.sevolume=128
key.p0.b=200
key.p0.a=0
button.p0.screenshot=-1
keynav.p0.f=31
keynav.p0.e=32
keynav.p0.up=200
option.showmeter=true
keynav.p0.d=57
keynav.p0.c=30
keynav.p0.b=1
keynav.p0.a=28
option.alternateFPSPerfectYield=true
option.alternateFPSPerfectMode=true
keynav.p0.left=203
option.sidenext=false
keynav.p0.retry=68
key.p0.screenshot=63
option.lineeffectspeed=0
keynav.p0.quit=88
keynav.p0.screenshot=63
key.p0.giveup=87
button.p0.quit=-1
keynav.p0.right=205
keynav.p0.pause=59
button.p0.retry=-1
option.firstSetupMode=false
option.bgmpreload=false
option.enableframestep=false
option.bgmvolume=128
option.darknextarea=true
option.screenwidth=640
key.p0.down=208
option.nextshadow=false
